.lessons{
  padding: 4rem 3rem;
  .lessons-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    .add-table{
      display: flex;
      flex-direction: column;
      .add{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        form{
          display: flex;
          align-items: flex-end;
          column-gap: 2rem;
          .input-group{
            display: flex;
            flex-direction: column;
            row-gap: 0.4rem;
            span{
            }
          }
        }
      }
    }
    .lessons-table{
      .lessons-table-wrapper{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
      }
    }
  }
}