.title{
  font-family: "DM Sans", sans-serif;
}

.title-xlg{
  font-weight: 600;
  font-size: 4rem

}

.title-lg{
  font-size: 3rem;
}

.title-md{
  font-size: 2rem;
}

.title-sm{
  font-weight: 300;
  font-size: 1.6rem;
}