.cell-tools{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  .cell-tool{
    transition: .1s ease all;
    font-size: 1.4rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0.3rem;
    &.remove{
      border: .1rem solid #ff2b2b;
      color: #ff3737;
      &:hover{
        background-color: #ff9797;
        color: #343434;
      }
    }
    &.edit{
      border: .1rem solid #ffbc2b;
      color: #ffc037;
      &:hover{
        background-color: #ffc037;
        color: #343434;
      }
    }

  }
}