html{
  font-size: 62.5%;
  @media screen and (max-width: 1000px) {
    font-size: 50%;
  }
  @media screen and (max-width: 750px) {
    font-size: 40%;
  }
  @media screen and (max-width: 500px) {
    font-size: 30%;
  }
}
