.custom-button{
  background-color: white;
  transition: 50ms ease-in-out all;
  display: flex;
  align-items: center;
  column-gap: .7rem;
  border: .1rem solid #DC5F00;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  //color: #373A40;
  &:hover{
    cursor: pointer;
    color: white;
    background-color: #373A40;
  }
  &:active{
    background-color: black;
  }
}